.todo {
    list-style-type : none;
    background-color: rgb(248, 245, 241);
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 25px;
}

.todo-checkbox {
    width: 2%;
    margin-left: 5px;
}

.todo-info {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todo-controll {
    display: flex;
    width: 4%;
    justify-content: space-between;
    margin-right: 5px;
}

.todo-text {
    max-width: 50%;
}